SOURCE_DB_HOST=postgres-source
SOURCE_DB_PORT=5432
SOURCE_DB_NAME=sourcedb
SOURCE_DB_USER=change-me
SOURCE_DB_PASSWORD=change-me

TARGET_DB_HOST=postgres-target
TARGET_DB_PORT=5432
TARGET_DB_NAME=targetdb
TARGET_DB_USER=change-me
TARGET_DB_PASSWORD=change-me

KAFKA_BOOTSTRAP=kafka:29092
TOPIC_PREFIX=dbserver1
DLQ_TOPIC=cdc.failed_events
MAX_RETRIES=3

DEBEZIUM_CONNECTOR_NAME=ecommerce-source-connector
DEBEZIUM_SLOT_NAME=debezium_slot
DEBEZIUM_PUBLICATION_NAME=dbz_publication

POISON_EVENTS=4

AIRFLOW_LOAD_EXAMPLES=false
AIRFLOW_DAGS_ARE_PAUSED_AT_CREATION=false
AIRFLOW_WEBSERVER_SECRET_KEY=change-me
AIRFLOW_ADMIN_USERNAME=change-me
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_ADMIN_PASSWORD=change-me

BATCH_JOB_NAME=cdc_spark_reconcile
SPARK_MASTER=local[*]

SUPERSET_SECRET_KEY=change-me
SUPERSET_TALISMAN_ENABLED=false
SUPERSET_ADMIN_USERNAME=change-me
SUPERSET_ADMIN_FIRSTNAME=Admin
SUPERSET_ADMIN_LASTNAME=User
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_ADMIN_PASSWORD=change-me
