SOURCE_DB_HOST=postgres-source
SOURCE_DB_PORT=5432
SOURCE_DB_NAME=sourcedb
SOURCE_DB_USER=change-me
SOURCE_DB_PASSWORD=change-me

TARGET_DB_HOST=postgres-target
TARGET_DB_PORT=5432
TARGET_DB_NAME=targetdb
TARGET_DB_USER=change-me
TARGET_DB_PASSWORD=change-me

MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DATABASE=ecommerce_nosql
MONGO_ROOT_USERNAME=change-me
MONGO_ROOT_PASSWORD=change-me
MONGO_AUTH_SOURCE=admin
MONGO_REPLICA_SET=rs0
MONGO_REPLICA_SET_KEY=Y2hhbmdlLW1lLW1vbmdvLWtleQ==
MONGO_FAKE_DURATION_SECONDS=300
MONGO_FAKE_SLEEP_MIN_SECONDS=0.5
MONGO_FAKE_SLEEP_MAX_SECONDS=2.0
MONGO_TOPIC_PREFIX=mongodb
MONGO_DEBEZIUM_CONNECTOR_NAME=mongodb-source-connector

MONGO_TARGET_HOST=mongodb-target
MONGO_TARGET_PORT=27017
MONGO_TARGET_DATABASE=ecommerce_nosql_target
MONGO_TARGET_ROOT_USERNAME=change-me
MONGO_TARGET_ROOT_PASSWORD=change-me
MONGO_TARGET_AUTH_SOURCE=admin

MONGO_SINK_GROUP_ID=mongo-sink-consumer
MONGO_DLQ_TOPIC=mongo.failed_events
MONGO_BATCH_JOB_NAME=mongo_reconcile
OBJECT_BATCH_JOB_NAME=object_reconcile

MINIO_SOURCE_ROOT_USER=change-me
MINIO_SOURCE_ROOT_PASSWORD=change-me
MINIO_SOURCE_ENDPOINT=http://minio-source:9000
MINIO_SOURCE_BUCKETS=raw-images raw-videos raw-audio raw-documents

MINIO_TARGET_ROOT_USER=change-me
MINIO_TARGET_ROOT_PASSWORD=change-me
MINIO_TARGET_ENDPOINT=http://minio-target:9000
MINIO_TARGET_BUCKETS=clean-images clean-videos clean-audio clean-documents quarantine

OBJECT_EVENTS_TOPIC=object.events
OBJECT_DLQ_TOPIC=object.failed_events
OBJECT_SINK_GROUP_ID=object-sink-consumer
OBJECT_EVENT_SCAN_INTERVAL_SECONDS=10
OBJECT_EVENT_RUN_ONCE=false

KAFKA_BOOTSTRAP=kafka:29092
TOPIC_PREFIX=dbserver1
DLQ_TOPIC=cdc.failed_events
CDC_CONSUMER_GROUP=cdc-consumer
MAX_RETRIES=3

DEBEZIUM_CONNECTOR_NAME=ecommerce-source-connector
DEBEZIUM_SLOT_NAME=debezium_slot
DEBEZIUM_PUBLICATION_NAME=dbz_publication

POISON_EVENTS=4
FAKE_DATA_DURATION_SECONDS=300
FAKE_DATA_SLEEP_MIN_SECONDS=0.5
FAKE_DATA_SLEEP_MAX_SECONDS=2.0

AIRFLOW_LOAD_EXAMPLES=false
AIRFLOW_DAGS_ARE_PAUSED_AT_CREATION=false
AIRFLOW_WEBSERVER_SECRET_KEY=change-me
AIRFLOW_ADMIN_USERNAME=change-me
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_ADMIN_PASSWORD=change-me

BATCH_JOB_NAME=cdc_spark_reconcile
SPARK_MASTER=local[*]

SUPERSET_SECRET_KEY=change-me
SUPERSET_TALISMAN_ENABLED=false
SUPERSET_ADMIN_USERNAME=change-me
SUPERSET_ADMIN_FIRSTNAME=Admin
SUPERSET_ADMIN_LASTNAME=User
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_ADMIN_PASSWORD=change-me
